:80 {
    # Opção global para desativar HTTPS automático e evitar erros de certificado
    auto_https off

    # 1. Rota da API (Backend)
    # Qualquer requisição começando com /api/ vai para o container Python
    handle /api/* {
        reverse_proxy backend:8000
    }

    # 2. Rota do Frontend (React)
    # Todo o resto vai para o container do React
    handle {
        reverse_proxy frontend:5173
    }
}