# Configurações do Projeto
PROJECT_NAME="Carteira Pessoal"
API_V1_STR="/api/v1"

# Segurança (Gere uma chave nova em produção: openssl rand -hex 32)
SECRET_KEY=""
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Banco de Dados
DATABASE_URL="sqlite:////app/investimentos.db"

# Telegram Bot
# Fale com o @BotFather no Telegram para pegar seu token
TELEGRAM_BOT_TOKEN=""

# Serviço de IA 
GEMINI_API_KEY=""

# Configurações do Ollama (IA Local/Remota)

OLLAMA_WORKER_URL=""
OLLAMA_LOCAL_URL="http://localhost:11434/api/generate"
